* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: poppins;
    src: url(/font/Poppins-Medium.ttf);
}

/*HTML*/
html {
    background-color: #F5F5F5;
}

/*BODY*/
body {
    background-color: white;
    width: 800px;
    height: 1280px;
    margin: auto;
}

header {
    height: 70px;
}

main {
    height: 1180px;
    width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.inferior_direito {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 20px;
    padding-bottom: 20px;
}

footer {
    height: 30px;
}

/*LOGO NOME (CABEÇALHO)*/
.logo_nome {
    font-family: poppins;
    font-size: 40px;
    color: #525EED;
    font-weight: bold;
    margin-right: 20px;
    float: right;
}

/*IMAGEM LOGO (CABEÇALHO)*/
.logo {
    width: 36px;
    margin-left: 20px;
    margin-top: 10px;
}

fieldset {
    width: 300px;
    height: 500px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

label {
    font-family: poppins;
    font-size: 14px;
    color: #484952;
}

input {
    width: 200px;
    background: #E8F0FD;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #484952;
    font-family: poppins;
    font-size: 13px;
    margin-bottom: 15px;
}

/*BOTÃO LOGIN*/
input[type="submit"],
button {
    font-family: poppins;
    font-size: 15px;
    width: 200px;
    padding: 10px 10px;
    border: none;
    background-color: #525EED;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    transition: transform 0.2s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    display: block;
    margin-top: 10px;
    margin-bottom: 0px;
}

/*HOVER TODOS OS BOTÕES*/
input[type="submit"]:hover,
button:hover {
    background: #F3D745;
    color: #484952;
    transform: scale(1.1);
}

a {
    text-decoration: none;
}


/*RODAPÉ*/
footer {
    font-family: poppins;
    color: #484952;
}

.contato {
    float: right;
    margin-right: 30px;
}

.autora {
    margin-left: 30px;
}