* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: poppins;
    src: url(../font/Poppins-Medium.ttf);
}


/*HTML*/
html {
    background-color: rgb(249, 249, 249);
}

/* HEADER */
header {
    width: 100%;
    max-width: 700px;
    margin: 18px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    box-sizing: border-box;
}

/*BODY*/
body {
    background-color: white;
    width: 834px;
    margin: auto;
}


/*IMAGEM LOGO (CABEÇALHO)*/
.logo {
    width: 36px;
    height: auto;
    margin-left: 20px;
}


/*MENU*/
.menu {
    display: flex;
    flex-direction: column;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    text-align: right;
}

.menu h2 {
    font-family: poppins;
    color: #525EED;
    font-size: 13px;
}

/*MENU DE NAVEGAÇÃO*/
/* nav {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
} */

nav {
    margin-bottom: 10px;
}

nav li {
    display: inline;
}

nav li a {
    font-family: poppins;
    color: #484952;
    text-decoration: none;
    margin-left: 30px;

}

nav li a:hover {
    color: #F3D745;
    transform: scale(1.1);
}



/*MAIN*/
main {
    width: 100%;
    max-width: 700px;
    margin: 18px auto;
    padding: 0 20px 20px;
    box-sizing: border-box;
    flex: 1 0 auto;
    overflow-wrap: break-word;
}


/*TÍTULO DA PÁGINA*/
main h1 {
    font-family: poppins;
    font-size: 40px;
    font-weight: 700;
    color: #484952;
    text-align: left;
    padding-top: 18px;
    margin-bottom: 18px;
}

main span {
    color: #525EED;
    /*Conferir se precisa apagar*/
}


/*CAIXA*/
.caixa {
    position: relative;
    margin-bottom: 40px;
}

/*DIV 1 CAIXA AZUL*/
.div1 {
    width: 100%;
    height: 450px;
    margin: auto;
    border-radius: 5px;
    background: #E8F0FD;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}


/*FOTO DENTRO DA CAIXA AZUL*/
.div1 figure img {
    width: 380px;
    height: 380px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin: 40px;

}


/*TEXTO DENTRO DA CAIXA AZUL*/
.div1 p {
    font-family: poppins;
    font-size: 0.9rem;
    text-align: justify;
    color: #484952;
    width: 210px;
    position: relative;
    bottom: 425px;
    left: 435px;
}



/*CAIXA BRANCA DENTRO DA CAIXA AZUL*/
.div2 {
    width: 230px;
    height: 100px;
    background: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 265px;
    left: 300px;
}


/*TEXTO DENTRO DA CAIXA BRANCA*/
.div2 p {
    font-family: poppins;
    font-size: 0.9rem;
    color: #484952;
    text-align: center;
    padding: 10px;
}

a {
    text-decoration: none;
}

/*BOTÃO DENTRO DA CAIXA BRANCA*/
.botao_entrar {
    font-family: poppins;
    font-size: 15px;
    width: 190px;
    padding: 10px 10px;
    border: none;
    background-color: #525EED;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    transition: transform 0.2s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    display: block;
    margin: auto;
}



/*BOTÃO VOLTAR*/
.voltar {
    font-family: poppins;
    font-size: 15px;
    width: 150px;
    padding: 10px 10px;
    border: none;
    background-color: #525EED;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    transition: transform 0.2s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    display: block;
    position: relative;
    left: 550px;
    bottom: 18px;
}


/*HOVER TODOS OS BOTÕES*/
button:hover {
    background: #F3D745;
    color: #484952;
    transform: scale(1.1);
}

/*RODAPÉ*/
footer {
    height: 30px;
    font-family: poppins;
    color: #484952;
}


.autora {
    text-align: center;
}

/*
#484952 cinza mais escuro
#767474 cinza mais claro
*/