* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: poppins;
    src: url(/font/Poppins-Medium.ttf);
}


/*HTML*/
html {
    background-color: #F5F5F5;
}


/*BODY*/
body {
    background-color: white;
    width: 834px;
    height: 1194px;
    display: block;
    margin: 0 auto;

}



/*DIV LOGO E BOTÕES LOGIN E CARTRAR-SE*/
.conteudo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);


}

/*BOTÃO SAIR*/
.sair {
    font-family: poppins;
    font-size: 15px;
    padding: 10px 40px 10px 40px;
    margin-left: 30px;
    margin-top: 30px;
    border: none;
    background-color: #E8EFF8;
    border-radius: 5px;
    font-weight: bold;
    color: #767474;
    transition: transform 0.2s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);


}


/*BOTÃO LOGIN*/
.login {
    font-family: poppins;
    font-size: 15px;
    display: block;
    width: 200px;
    padding: 10px 10px;
    margin: 0 auto;
    border: none;
    background-color: #E8EFF8;
    border-radius: 5px;
    font-weight: bold;
    color: #767474;
    transition: transform 0.2s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}


/*BOTÃO CADASTRAR-SE*/
.cadastrar_se {
    font-family: poppins;
    font-size: 15px;
    display: block;
    width: 200px;
    padding: 10px 10px;
    margin: 0 auto;
    border: none;
    background-color: #E8EFF8;
    border-radius: 5px;
    font-weight: bold;
    color: #767474;
    transition: transform 0.2s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}


/*IMAGEM LOGO*/
.logo {
    display: block;
    margin: 0 auto;
    width: 251px;
    margin-bottom: 100px;
}


/*HOVER TODOS OS BOTÕES*/
button:hover {
    background: #525EED;
    color: white;
    transform: scale(1.1);
}