* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: poppins;
    src: url(../font/Poppins-Medium.ttf);
}

/*HTML E BODY*/
html,
body {
    width: 100%;
    min-height: 100vh;
    background-color: white;
}

body {
    background-color: white;
    max-width: 800px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    height: 1vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4vw;
}

main {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vh 5vh;
}

footer {
    height: 30px;
}



/*LOGO NOME (CABEÇALHO)*/
.logo_nome {
    font-family: poppins;
    font-size: 5vh;
    color: #525EED;
    font-weight: bold;
    margin-right: 20px;
    float: right;
}

/*IMAGEM LOGO (CABEÇALHO)*/
/*.logo {
    width: 36px;
    margin-left: 20px;
    margin-top: 10px;
}*/



.logo {
    width: 12vh;
    min-width: 70px;
    max-width: 100px;
}

.centro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}


fieldset {
    width: 60vh;
    max-width: 300px;
    min-width: 250px;
    height: auto;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}


fieldset h1 {
    font-family: poppins;
    font-size: 3rem;
    color: #525EED;
    text-align: center;
}

input::placeholder {
    color: #c2c3cc;
    font-size: 0.85rem;
}

fieldset p {
    font-family: poppins;
    font-size: 2.1vh;
    color: #484952;
    margin-bottom: 7vh;
    text-align: justify;
}




/*.inferior_direito {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 20px;
    padding-bottom: 20px;
}*/

label {
    font-family: poppins;
    font-size: 1.8vh;
    color: #484952;
}

input {
    width: 100%;
    background: #E8F0FD;
    border: none;
    border-radius: 5px;
    padding: 1.5vh;
    color: #484952;
    font-family: poppins;
    font-size: 2vh;
    margin-bottom: 2vh;
}


input:focus {
    outline-color: #525EED;
}

.botoes {
    display: flex;
    justify-content: center;
}


/*BOTÃO LOGIN*/
input[type="submit"],
button {
    font-family: poppins;
    font-size: 2.3vh;
    width: 28vh;
    padding: 1.8vh 0;
    border: none;
    background-color: #525EED;
    border-radius: 0.8vh;
    font-weight: bold;
    color: white;
    transition: transform 0.2s;
    box-shadow: 0.5vw 0.5vw 1vw rgba(0, 0, 0, 0.3);
    margin-top: 5vh;
}

/*HOVER TODOS OS BOTÕES*/
input[type="submit"]:hover,
button:hover {
    background: #F3D745;
    color: #484952;
    transform: scale(1.05);
}

a {
    text-decoration: none;
}

.novo_usuario {
    font-family: poppins;
    font-size: 1rem;
    color: #525EED;
    text-decoration: underline;
    margin-top: 2vh;
}

.novo_usuario:hover {
    color: #F3D745;
}




/*RODAPÉ*/
footer {
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5vh;
    font-family: poppins;
    color: #484952;
    font-size: 1rem;
}

.autora {
    text-align: center;
}


/*RESPONSIVIDADE*/
@media screen and (max-width:600px) {
    body {
        height: auto;
    }

    .logo_nome {
        font-size: 6vw;
    }

    fieldset {
        width: 90%;
    }

    footer {
        flex-direction: column;
        gap: 1vh;
        height: auto;
        text-align: center;
    }
}