* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: poppins;
    src: url(/font/Poppins-Medium.ttf);
}


/*HTML*/
html {
    background-color: #F5F5F5;
}


/*BODY*/
body {
    background-color: white;
    width: 834px;
    height: 1194px;
    margin: auto;
}


/*IMAGEM LOGO (CABEÇALHO)*/
.logo {
    width: 36px;
    margin-top: 10px;
    margin-left: 20px;
}


/*MENU DE NAVEGAÇÃO*/
nav {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

nav li {
    display: inline;
}

nav li a {
    font-family: poppins;
    color: #484952;
    text-decoration: none;
}

nav li a:hover {
    color: #F3D745;
    transform: scale(1.1);
}



/*MAIN*/
main {
    width: 700px;
    margin: auto;
    /*Talvez nessa página a largura seja outra*/
}


/*TÍTULO DA PÁGINA*/
main h1 {
    font-family: poppins;
    font-size: 40px;
    color: #484952;
    font-weight: bold;
}

main span {
    color: #525EED;

}



/*COLUNAS*/
.colunas {
    /*flex-grow: 1; NÃO LEMBRO PARA OQUE SERVE*/
    width: 50%;
    height: 1000px;
    background: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.coluna_1 {
    padding-right: 15px;
}

.coluna_2 {
    padding-left: 15px;
}


/*CONTEUDO*/
.conteudo {
    background: yellowgreen;
    height: 1050px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    font-family: poppins;
    color: #484952;
    font-size: 14px;
}

.secao {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;
    height: 80px;
    border: 1px solid gainsboro;
    border-radius: 8px;
}


/*TITULOS*/
.titulo {
    font-size: 16px;
}


/*INPUT/CAIXAS DE TEXTO*/
input {
    background: #E8F0FD;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #484952;
    font-family: poppins;
    font-size: 13px;
}

/*INPUT NUMERO - TAMANHO*/
input[type="number"] {
    width: 100px;
}

/*RADIO/BOLINHA*/
input[type="radio"] {
    appearance: none;
    /* remove o estilo padrão */
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #E8F0FD;
    cursor: pointer;
    position: relative;
    top: 6px;
}

/* Hover — muda a cor da bolinha ao passar o mouse */
input[type="radio"]:hover {
    background-color: #f3d745;
    /* cor quando passa o mouse */
    border-color: #f3d745;
}

/* Quando estiver selecionado */
input[type="radio"]:checked {
    background-color: #525EED;
    /* cor quando marcado */
}


/*DROPDOW*/
select {
    background-color: #E8F0FD;
    /* cor de fundo */
    color: #484952;
    /* cor do texto */
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: poppins;
    font-size: 13px;
}


.drop_largura {
    width: 100%;
}

.drop_l3 {
    width: 100px;
}

.espacamento_radio label {
    margin-right: 25%;
    font-size: 13px;
}


.colunas_radio {
    display: flex;
    width: 100%;
    font-size: 13px;
}

.espacamento_coluna_radio {
    width: 50%;
}

.numeros {
    display: flex;
    width: 100%;
}

.numero {
    width: 33%;
    text-align: center;
}

/*QUARTEIRÃO E NÚMERO
.numero {
    display: inline-block;
    text-align: center;
    margin-right: 5PX;}*/


.imoveis {
    display: flex;
    width: 100%;
}

.imovel_inspecionado,
.imovel_tratado {

    width: 50%;

}

.tipo {
    width: 50%;
    height: 160px;
}

.texto_pequeno {
    width: 100%;
}

.morador,
.rua {
    width: 100%;
}

.observacao {
    width: 100%;
    background: #E8F0FD;
    border: 0px;
    border-radius: 5px;
}

.texto_grande {
    width: 100%;
}

.texto_grande textarea {
    color: #484952;
    padding: 10px;

    font-family: poppins;
    font-size: 13px;
}

.conteudo_2 {
    display: flex;
    align-items: flex-start;
}

.div3 {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.div4,
.div5 {
    display: flex;
    flex-direction: column;
    align-items: top;
    width: 50%;
}


.div3 input,
.div3 select {
    width: 100px;
}

.tipo_deposito {
    display: flex;
    width: 100%;
    /*display: flex;
    flex-direction: row;
    width: 100%;*/
}

.codigo {
    text-align: center;
    margin-right: 5px;
    /*width: 13%;
    display: flex;
    flex-direction: column;
    align-items: top;
    margin-right: 4px;
    text-align: center;*/
}

.codigo input {
    width: 75px;
}

.altura_secao {
    height: 160px;
}

/*BOTÃO VOLTAR*/
.voltar {
    font-family: poppins;
    font-size: 15px;
    width: 150px;
    padding: 10px 10px;
    border: none;
    background-color: #525EED;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    transition: transform 0.2s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    display: block;

}


/*HOVER TODOS OS BOTÕES*/
button:hover {
    background: #F3D745;
    color: #484952;
    transform: scale(1.1);
}

/*RODAPÉ*/
footer {
    font-family: poppins;
    color: #484952;
}


.contato {
    float: right;
    margin-right: 20px;
}

.autora {
    margin-left: 50px;
}

/*@media screen and (max-width:600px) {
    .conteudo {
        flex-direction: column;
    }*/


/*
#484952 cinza mais escuro
#767474 cinza mais claro
*/