* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: poppins;
    src: url(../font/Poppins-Medium.ttf);
}

/*HTML*/
html {
    background-color: white;
    font-size: 16px;
    /* base para rem */
}

/*BODY*/
body {
    background-color: white;
    width: 800px;
    height: 1280px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: poppins;
}

/*HEADER*/
header {
    width: 90vw;
    max-width: 44rem;
    /* 700px */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 0;
}

/*IMAGEM LOGO (CABEÇALHO)*/
.logo {
    width: 2.25rem;
    /* 36px */
    margin-top: 0.625rem;
    margin-left: 1.25rem;
}

.menu {
    display: flex;
    flex-direction: column;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    text-align: right;
}

.menu h2 {
    font-family: poppins;
    color: #525EED;
    font-size: 13px;
}

/*MENU DE NAVEGAÇÃO*/
nav ul {
    list-style: none;
    display: flex;
    gap: 0.75rem;
    align-items: center;
    padding-bottom: 10px;
}

nav li a {
    color: #484952;
    text-decoration: none;
    transition: color 0.18s, transform 0.18s;
}

nav li a:hover {
    color: #F3D745;
    transform: scale(1.05);
}

/*MAIN*/
main {
    width: 87.5vw;
    /* ~700px */
    max-width: 44rem;
    margin: auto;
    padding: 1.25rem;
}

/*TÍTULO DA PÁGINA*/
main h1 {
    font-size: 2.5rem;
    /* 40px */
    color: #484952;
    font-weight: bold;
}

main span {
    color: #525EED;
}

/*COLUNAS*/
.colunas {
    width: 50%;
    height: auto;
    padding-top: 1.875rem;
}

.coluna_1 {
    padding-right: 0.9375rem;
}

.coluna_2 {
    padding-left: 0.9375rem;
}

input {
    font-family: poppins;
    color: #c2c3cc;
}

input::placeholder,
textarea::placeholder {
    font-family: poppins;
    color: #c2c3cc;
    font-size: 0.85rem;
}

/*CONTEUDO*/
.conteudo {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    font-size: 0.875rem;
    /* 14px */
    color: #484952;
}

.secao {
    padding: 0 0.625rem;
    margin-bottom: 1.4rem;
    height: 7.5rem;
    min-height: 5rem;
    /* 80px */
    border: 1px solid gainsboro;
    border-radius: 0.5rem;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*TITULOS*/
.titulo {
    font-size: 0.9rem;
    margin-bottom: 5px;
}

input:focus {
    outline-color: #525EED;
}

textarea:focus {
    outline-color: #525EED;
}

/*INPUT/CAIXAS DE TEXTO*/
input {
    background: #E8F0FD;
    border: none;
    border-radius: 0.3125rem;
    padding: 0.625rem;
    font-size: 0.9rem;
    /* 13px */
    color: #525EED;
}

textarea {
    font-family: poppins;
    font-size: 0.9rem;
    color: #525EED;

}

/*INPUT NUMERO - TAMANHO*/
input[type="number"] {
    width: 6rem;
    /* 100px */
}

/*RADIO/BOLINHA*/
input[type="radio"] {
    appearance: none;
    width: 0.9375rem;
    /* 15px */
    height: 0.9375rem;
    border-radius: 50%;
    background-color: #E8F0FD;
    cursor: pointer;
    position: relative;
    top: 0.375rem;
}

input[type="radio"]:hover {
    background-color: #f3d745;
    border-color: #f3d745;
}

input[type="radio"]:checked {
    background-color: #525EED;
}

/*DROPDOWN*/
select {
    background-color: #E8F0FD;
    font-family: poppins;
    color: #525EED;
    padding: 0.625rem;
    border-radius: 0.3125rem;
    border: none;
    cursor: pointer;
    font-size: 0.8125rem;
}

/*LARGURA SELECT*/
.drop_largura {
    width: 100%;
}

.drop_l3 {
    width: 6.25rem;
}

/*RADIO E COLUNAS*/
.espacamento_radio label {
    margin-right: 25%;
    font-size: 0.8rem;
}

.colunas_radio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    font-size: 0.9rem;
}

.espacamento_coluna_radio {
    width: 50%;
    font-size: 90%;
}


.numeros {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.numero {
    width: 33%;
    text-align: center;
    margin: 1%;
    box-sizing: border-box;
}

.numero input {
    width: 100%;
}

.imoveis {
    display: flex;
    width: 100%;
}

.imovel_inspecionado,
.imovel_tratado {
    width: 50%;
}

.tipo {
    width: 50%;
    height: 10rem;
    /* 160px */
}

.texto_pequeno,
.morador,
.rua,
.observacao,
.texto_grande {
    width: 100%;
}

.observacao {
    height: 70%;
}

.observacao,
.texto_grande textarea {
    background: #E8F0FD;
    border: none;
    border-radius: 0.3125rem;
    padding: 0.625rem;
    font-size: 0.8125rem;
}

.conteudo_2 {
    display: flex;
    align-items: flex-start;
}

.div3 {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.div4,
.div5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.div3 input,
.div3 select {
    width: 6.25rem;
}

.tipo_deposito {
    width: 100%;
    display: flex;
    justify-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.codigo {
    width: 20%;

    text-align: center;
    margin-right: 0.3125rem;
    margin-left: 0.3125rem;

}

.codigo input {
    width: 100%;
}

.altura_secao {
    height: 12rem;
}

.botoes {
    display: flex;
    justify-content: flex-end;
}

/*BOTÕES*/
.enviar {
    font-family: poppins;
    font-size: 0.9375rem;
    /* 15px */
    width: 9.375rem;
    /* 150px */
    padding: 0.625rem;
    border: none;
    border-radius: 0.3125rem;
    font-weight: bold;
    color: white;
    background-color: #525EED;
    transition: transform 0.2s;
    box-shadow: 0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.3);
    margin: 1.25rem 0 1.25rem 3.125rem;
}

button:hover,
.enviar:hover {
    background: #F3D745;
    color: #484952;
    transform: scale(1.1);
}

/*FOOTER*/
footer {
    color: #484952;
    width: 90vw;
    max-width: 44rem;
    /* 700px */
    margin: auto;
    display: flex;
    align-items: center;
    padding: 1.25rem 0;
    font-size: 0.9rem;
}

footer .autora {
    margin: auto;
}



/*RESPONSIVIDADE CELULAR (até 600px)*/
@media screen and (max-width: 600px) {

    body {
        width: 100%;
        height: auto;
    }

    header {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 12px;
    }

    .logo {
        margin: 0;
        padding: 0;
        background-color: #525EED;
        text-align: center;
    }

    /* Zera qualquer espaçamento nativo */
    nav {
        width: 100%;
    }

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    nav li {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    nav li a {
        display: block;
        /* ocupa toda a largura do li */
        width: 100%;
        text-align: center;
        color: #484952;
        text-decoration: none;
        box-sizing: border-box;
        transition: background-color 0.2s;
    }

    .conteudo {
        margin-top: 5%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .colunas {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .coluna_1 {}



    main {
        width: 100%;
        max-width: 100%;
        margin: auto;
        padding: 0 12px 20px;
        display: flex;
        flex-direction: column;
    }

    main h1 {
        font-size: 28px;
    }

    main p {
        font-size: 15px;
    }

    .tipo_deposito {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .codigo {
        width: 20%;

        text-align: center;
        margin-right: 0.3125rem;
        margin-left: 0.3125rem;

    }

    .codigo input {
        width: 100%;
    }


    .botoes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
        box-sizing: border-box;
        gap: 20px;
    }

    .voltar,
    .enviar {
        margin: 0;
    }

    footer {
        width: 100%;
        margin-left: 5;
        margin-right: 5px;
        flex-direction: row;
        text-align: center;
        gap: 6px;
        font-size: 0.7rem;
    }

}


/* TABLET INTERMEDIÁRIO: 601px a 1023px */
@media (min-width: 601px) and (max-width: 1023px) {

    body {
        width: 100%;
        max-width: 800px;
        height: auto;
    }

    header {
        width: 100%;
        max-width: 700px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        box-sizing: border-box;
    }

    main {
        width: 100%;
        max-width: 700px;
        margin: auto;
        padding: 0 16px 20px;
    }

    footer {
        width: 100%;
        max-width: 700px;
        margin: auto;
        text-align: center;
        font-size: 0.8rem;
    }

    /*RADIO E COLUNAS*/

}


/*PARA DESKTOP ACIMA DE 1024PX*/
@media (min-width: 1024px) {

    body {
        width: 1000px;
        height: auto;
    }

    header {
        max-width: 700px;
        margin: auto;
    }

    main {
        max-width: 700px;
        margin: auto;
    }

    footer {
        max-width: 700px;
        margin: 0 auto;
    }


    nav ul {
        gap: 18px;
    }
}